<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
    <header>
        <nav>
             <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
    
            </ul> 
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <section>
    <table id="customers">
        <tr>
            <th>id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Comments</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Vincent</td>
            <td>Nutter</td>
            <td>vbeetle@gmail.com</td>
            <td>0000000000</td>
            <td>I like bugs</td>
            <td>active</td>
        </tr>
        <td>
            <a href="#" type="button">View</a>
            <a href="#" type="button">Edit</a>
            <a href="#" type="button">Delete</a>
        </td>
        </table>
    </section>
    <footer>
        &copy; 2021 jnutterdev
    </footer>
    </div>
</body>
</html>